<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=28">
    <title>Deepfake Detection</title>
</head>
<body>
    {%include 'nav-bar.html'%}
    {%block content%}
    {%endblock%}
    {%block js_cripts%}
    {%endblock%}
    {%include 'footer.html'%}
</body>

</html>
